
@{
    Layout = "~/Views/Shared/_Task3Layout.cshtml";
}

@*<div class="col-3 bg-danger">B</div>*@

<div class="container renderer">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div id="sidebarRight" class="text-white p-2">
    I'm a sidebar.
</div>


