@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj! To rozwiązania listy ósmej z kursu WWW </h1>
</div>

<a asp-controller="Ranking">
    Do zadania drugiego tędy
</a>

<br />
<br />

<a asp-controller="Transfer">
    Do zadania czwartego i piątego tędy
</a>

<br />
<br />

<a asp-controller="Website">
    Do zadania trzeciego tędy
</a>
